html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: linear-gradient(98deg, #f1a0da, #cef9d0, #6ad8eb, #869ff7, #e0d8e2, #fdfefd, #b5da9f, #f6f9d3);
  background-size: 1600% 1600%;
  -webkit-animation: background-grad 36s ease infinite;
  -moz-animation: background-grad 36s ease infinite;
  -o-animation: background-grad 36s ease infinite;
  animation: background-grad 36s ease infinite; }

h1, h6 {
  font: normal 1.3em 'Open Sans',Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 5%;
  right: 0;
  left: 0; }

ul li {
  list-style-type: none; }

.selector {
  width: 50%;
  margin: 100px auto;
  text-align: center;
  display: flex; }
  .selector a {
    padding: 1em;
    margin: 0 .2em;
    flex: 1;
    border: 1px solid rgba(254, 254, 254, 0.6);
    transition: all .15s ease-in-out;
    font: normal 1em 'Open Sans',Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none; }

*, *::after, *::before {
  box-sizing: border-box; }

.wrapper {
  position: fixed;
  z-index: 1;
  justify-content: center;
  /* For horizontal alignment */
  align-items: center;
  top: 80px;
  bottom: 80px;
  left: 100px;
  right: 100px; }
  .wrapper .circle {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 5vh;
    width: 70vh;
    height: 70vh; }
    .wrapper .circle:hover > li {
      animation-play-state: paused; }
    .wrapper .circle .flakeWrapper {
      height: 100%;
      width: 5vh;
      position: absolute;
      top: 0;
      left: 32.5vh;
      z-index: 1; }
      .wrapper .circle .flakeWrapper .flake {
        border-radius: 50%; }

@keyframes flake-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(27.6923076923deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(387.6923076923deg); } }
.flakeWrapper--1 {
  animation: flake-1 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--1 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--1 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #d95326;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-1 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(55.3846153846deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(415.3846153846deg); } }
.flakeWrapper--2 {
  animation: flake-2 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--2 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--2 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #d98026;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-2 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(83.0769230769deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(443.0769230769deg); } }
.flakeWrapper--3 {
  animation: flake-3 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--3 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--3 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #d9ac26;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-3 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(110.7692307692deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(470.7692307692deg); } }
.flakeWrapper--4 {
  animation: flake-4 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--4 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--4 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #d9d926;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-4 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(138.4615384615deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(498.4615384615deg); } }
.flakeWrapper--5 {
  animation: flake-5 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--5 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--5 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #acd926;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-5 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(166.1538461538deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(526.1538461538deg); } }
.flakeWrapper--6 {
  animation: flake-6 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--6 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--6 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #80d926;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-6 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(193.8461538462deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(553.8461538462deg); } }
.flakeWrapper--7 {
  animation: flake-7 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--7 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--7 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #53d926;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-7 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(221.5384615385deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(581.5384615385deg); } }
.flakeWrapper--8 {
  animation: flake-8 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--8 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--8 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26d926;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-8 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(249.2307692308deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(609.2307692308deg); } }
.flakeWrapper--9 {
  animation: flake-9 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--9 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--9 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26d953;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-9 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(276.9230769231deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(636.9230769231deg); } }
.flakeWrapper--10 {
  animation: flake-10 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--10 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--10 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26d980;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-10 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(304.6153846154deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(664.6153846154deg); } }
.flakeWrapper--11 {
  animation: flake-11 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--11 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--11 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26d9ac;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-11 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(332.3076923077deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(692.3076923077deg); } }
.flakeWrapper--12 {
  animation: flake-12 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--12 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--12 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26d9d9;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-12 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes flake-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(360deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg); } }
.flakeWrapper--13 {
  animation: flake-13 20s linear infinite;
  animation-play-state: running; }
  .flakeWrapper--13 .flake {
    margin: 0px;
    width: 5vh;
    height: 5vh;
    opacity: 1;
    fill: #504FBD;
    color: #504FBD; }
    .flakeWrapper--13 .flake:hover {
      fill: #FBFEFF;
      color: #FBFEFF;
      background-color: #26acd9;
      transform: scale(1.5);
      transition: background-color .5s, transform .5s ease-out; }

.icon-13 {
  -webkit-animation: movingFirstColor 2.5s ease-in-out infinite alternate;
  animation: movingFirstColor 2.5s ease-in-out infinite alternate; }

@keyframes movingFirstColor {
  0% {
    -webkit-transform: translate3D(0, -30px, 0);
    transform: translate3D(0, -30px, 0);
    width: 10px;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px #ffd646; }
  33% {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    width: 10px;
    opacity: 1; }
  50% {
    width: 30px;
    opacity: 0.7; }
  66% {
    -webkit-transform: translate3D(0, 30px, 0);
    transform: translate3D(0, 30px, 0);
    width: 10px; }
  100% {
    width: 10px;
    opacity: 1;
    -webkit-transform: translate3D(0, 30px, 0);
    transform: translate3D(0, 30px, 0); } }
@-webkit-keyframes background-grad {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes background-grad {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-o-keyframes background-grad {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes background-grad {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*# sourceMappingURL=style2.css.map */
